Options +FollowSymlinks
RewriteEngine On

<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_URI} ^/product/(admin) 
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
RewriteRule ^admin/images/(.*)$ backend/web/images/$1 [L]
RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]

RewriteCond %{REQUEST_URI} !^/product/backend/web/(assets|css|images|js)/  
RewriteCond %{REQUEST_URI} ^/product/(admin)  
RewriteRule ^.*$ backend/web/index.php [L]


RewriteCond %{REQUEST_URI} ^/product/(assets|css|images|js)  
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^images/(.*)$ frontend/web/images/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]

RewriteCond %{REQUEST_URI} !^/product/(frontend|backend)/web/(assets|css|images|js)/  
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php
</IfModule>